{
  "extends": [
    "standard",
    "standard-react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "globals": {
  },
  "rules": {
    "jsx-quotes": ["error", "prefer-double"],
    "no-unused-expressions": "off",
    "react/jsx-no-bind": "off"
  }
}
