.section4 {
  background: linear-gradient(154deg, #042A84 0%, #2C98A5 69%, #B9AE9B 100%);
  padding: 8rem 0;
}

.container {
  max-width: var(--homepage-max-width);
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.left {
  width: 45%;
  /* border: 1px solid red; */
}

.right {
  /* border: 1px solid blue; */
  flex-grow: 1;
  padding-left: 10rem;
}

.about {
  color: #eee;
  font-weight: 600;
  font-size: 32px;
}

.intro {
  margin: 10px 0 40px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  color: #ddd;
}

.container ul li {
  padding-left: 0;
  font-weight: 300;
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 4px;
}

.container ul li::before {
  width: 0;
}

.link {
  color: var(--ifm-color-primary-lighter);
  cursor: pointer;
  margin-left: 4px;
}

.link:hover, .name:hover {
  text-decoration: underline;
  color: var(--ifm-color-primary-lighter);
}

.title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.linkName {
  text-transform: capitalize;
}

.avatars {
  display: flex;
}

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.image {
  border-radius: 50%;
  border: 1px solid #88909b;
  width: 48px;
  height: 48px;
  margin-bottom: 5px;
}

.name, .sponsorName {
  width: 80px;
  font-size: 14px;
  line-height: 20px;
  color: #ddd;
  text-align: center;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sponsor {
  margin-top: 48px;
}

.sponsorAdd {
  border-radius: 50%;
  border: 1px solid #88909b;
  font-size: 28px;
  font-weight: 200;
  color: #ddd;
  width: 48px;
  height: 48px;
  text-align: center;
  margin-bottom: 5px;
  cursor: pointer;
}

.sponsorName {
  cursor: default;
}

