.custom-hint {
  background-color: rgba(185, 202, 218, 0.15);
  border-radius: 3px;
  padding: 1rem 2rem 1rem 1rem;
  margin-bottom: var(--ifm-leading);
}

.custom-hint__icon {
  width: 1.375rem;
  height: 1.375rem;
  vertical-align: middle;
  margin-right: 0.625rem;
  overflow: hidden;
}

.custom-hint p {
  margin-bottom: 0;
  line-height: 1.8;
  padding-left: 2rem;
}
