.custom-hint {
  border-radius: 5px;
  padding: 0.6rem 0.8rem;
  margin-bottom: var(--ifm-leading);
}

.custom-hint__icon {
  width: 1.2rem;
  height: 1.2rem;
  vertical-align: middle;
  margin-right: 0.5rem;
  overflow: hidden;
}

.custom-hint p {
  margin-bottom: 0;
  line-height: 1.8;
  padding-left: 3px;
}

.custom-hint span {
  font-weight: 500;
  text-transform: uppercase;
}
