.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  /* font-family: 'Lato'; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats {
  position: absolute;
  transform: translateY(-50%);
  width: 40rem;
  height: 5rem;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(135, 146, 161, 0.16),
    0px 6px 41px rgba(135, 146, 161, 0.11);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: #32435f;
}

.statsBlock {
  padding-left: 50px;
  padding-right: 50px;
  /* border: 2px solid #ff0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.statsBlock:after {
  position: absolute;
  right: 0;
  content: '';
  height: 2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  background-color: #ececec;
}

.desc {
  font-size: 0.875rem;
  color: #898a8c;
}

.statsBlock:last-child:after {
  background-color: transparent;
}

.whatWeDo {
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 7rem;
  width: 100%;
}

.title {
  font-weight: 300;
  font-size: 36px;
  line-height: 3.75rem;
  color: #1e266d;
  text-shadow: 2px 4px 0px #fafbff;
  margin-bottom: 4rem;
}

.content {
  /* border: 1px solid #000; */
  display: flex;
  width: 78rem;
  justify-content: space-between;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 17rem;
  height: 24rem;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0px 0px 1.5rem rgba(0, 0, 0, 0.172837);
}

.cardBanner {
  flex-shrink: 0;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 3.6rem;
  color: #4f4a4a;
}

.cardIntro {
  font-size: 0.75rem;
  line-height: 1.1rem;
  color: #a3a3a3;
  text-align: start;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.cardReadMore {
  border-top: 1px solid #f1f1f1;
  height: 2.3rem;
  line-height: 2.3rem;
  vertical-align: middle;
  text-align: right;
  padding-right: 1.25rem;
}

.cardReadMore a {
  cursor: pointer;
  font-size: 0.8125rem;
  color: #a3a3a3;
}

.cardReadMore span:hover {
  color: var(--ifm-color-primary);
}
