@import './fonts.css';

:root {
  --ifm-color-primary-lightest: #d6f2ff;
  --ifm-color-primary-lighter: #ade5ff;
  --ifm-color-primary-light: #5ccbff;
  --ifm-color-primary: rgb(0, 122, 255);
  --ifm-color-primary-dark: #0085cc;
  --ifm-color-primary-darker: #0065a3;
  --ifm-color-primary-darkest: #00508a;

  --ifm-color-emphasis-alpha-60: #5C6975;
  --ifm-contents-border-color: rgba(191, 191, 191, 0.2);
  --ifm-contents-link-color: rgb(116, 129, 141);
  --ifm-code-background: rgba(191, 191, 191, 0.25);
  --ifm-hero-background-color: #24292e;
  --ifm-table-border-color: rgba(191, 191, 191, 0.3);
  --ifm-table-stripe-background: rgba(185, 202, 218, 0.15);
  --ifm-table-cell-padding: 0.7rem;
  --ifm-menu-color-background-active: rgb(255, 255, 255);
  --ifm-navbar-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
  --ifm-navbar-height: 4.375rem;
  --ifm-navbar-padding-horizontal: 2rem;
  --ifm-spacing-horizontal: 1.5rem;
  --ifm-heading-font-weight: 500;
  --ifm-list-item-margin: 0.18rem;
  --ifm-leading: 1rem;
  --ifm-container-width: 1200px;
  /* --ifm-font-family-base: Helvetica, Arial, sans-serif; */
  /* --ifm-font-base-color: rgb(74, 74, 74); */

  --my-board--background: rgba(185, 202, 218, 0.15);
  --my-logo-font-family: 'Eurofighter Expanded';

  -webkit-font-smoothing: antialiased;
}

/* homepage banner */
/* .hero.hero--primary {
  color: rgba(255,255,255,0.65);
  background-image: url(https://cosmos-x.oss-cn-hangzhou.aliyuncs.com/homepage-cosmos-bg.svg),linear-gradient(135deg, #08003c 0%, #062875 100%);
  background-repeat: repeat-x;
  background-position: center;
  padding: 8rem 0 16rem 0;
} */

header .button--outline {
  color: #d1d1d1 !important;
}
header .button--outline:hover {
  color: #333 !important;
}

.features_src-pages- .container {
  padding-left: var(--ifm-navbar-padding-horizontal);
  padding-right: var(--ifm-navbar-padding-horizontal);
}

.markdown > h2 {
  --ifm-heading-vertical-rhythm-bottom: 1;
  --ifm-h2-vertical-rhythm-top: 1.8;
}

.markdown > h3 {
  margin-bottom: var(--ifm-leading);
}

.markdown pre {
  -webkit-font-smoothing: initial;
}

.markdown > pre, .markdown > ul, .markdown > ol, .markdown > p, blockquote p {
  line-height: 1.8;
}

.markdown ul.tabs {
  border-top-left-radius: var(--ifm-global-radius);
  border-top-right-radius: var(--ifm-global-radius);
  /* border: 1px solid var(--ifm-contents-border-color);
  border-bottom: none; */
  background-color: var(--my-board--background);
  line-height: 16px;
  font-size: 14px;
}

.markdown ul.tabs .tab-item {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  user-select: none;
}

.markdown ul.tabs .tab-item--active {
  color: rgba(0, 0, 0, 1);
}

.markdown ul.tabs + .margin-vert--md {
  margin-top: 0 !important;
}

.markdown ul.tabs + .margin-vert--md div pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.markdown img {
  margin-bottom: 5px;
}

.inserted-sign.inserted {
  font-style: normal !important;
}

.deleted-sign.deleted {
  font-style: normal !important;
  color: rgba(255, 117, 114, 0.94) !important;
}

blockquote {
  background-color: var(--my-board--background);
  border-left: 4px solid rgba(130, 130, 136, 0.4);
  border-radius: 3px;
  padding: 15px 30px 15px 15px;
}

blockquote p {
  margin-bottom: 0;
}

blockquote ul {
  margin-bottom: 0;
}

table thead {
  font-size: 14px;
  text-align: left;
}

table tbody {
  font-size: 13px;
}

.navbar.navbar--fixed-top {
  border-bottom: 1px solid rgba(131, 133, 133, 0.23);
}

.navbar .navbar__logo {
  border-radius: 3px;
}

.navbar .navbar__logo + strong {
  font-family: var(--my-logo-font-family);
  color: #444;
  font-weight: 500;
}

.navbar .navbar__link {
  white-space: nowrap;
}

.navbar__items:first-child {
  flex-grow: 2;
}

.navbar__items--right {
  flex-grow: 1;
}

/* Sidebar Nav */
.navbar + main > div > div:not(.row):not(.main):not(.hero--primary) {
  background-color: var(--my-board--background);
  width: 310px;
}

.menu .menu__link {
  border: 1px solid transparent;
  line-height: 1.25rem;
}
.menu .menu__link:hover {
  --ifm-menu-color-background-active: rgb(230, 236, 241);
  border: 1px solid rgb(230, 236, 241);
}

.menu .menu__link.menu__link--active:not(.menu__link--sublist) {
  border: 1px solid rgba(167, 167, 167, 0.2);
}

.menu .menu__link.menu__link--active:not(.menu__link--sublist):hover {
  --ifm-menu-color-background-active: rgb(255, 255, 255);
  border: 1px solid #e6ecf1;
}

.menu .menu__link.menu__link--sublist:after {
  background-image: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="rgba(157,170,182,1)"><g><polyline points="9 18 15 12 9 6"></polyline></g></svg>');
  background-size: 1.1rem 1.1rem;
  color: rgba(0, 0, 0, 0.2)
}

.menu .menu__list-item.menu__list-item .menu__link--sublist:after {
  transform: rotateZ(90deg);
}

.menu .menu__list-item.menu__list-item--collapsed .menu__link--sublist:after {
  transform: rotateZ(0);
}

main .container {
  max-width: none;
}

.container .col:first-child > div {
  max-width: 51em;
}

.container .col--3 {
  padding-left: 0;
}

.container.margin-vert--xl {
  margin-top: 4rem !important;
}

.container.margin-vert--xl .row .col > div {
  margin: 0 auto;
}

.container .margin-vert--xl {
  margin-bottom: 4rem !important;
  margin-top: 4rem !important;
}

.pagination-nav .pagination-nav__link {
  border: 1px solid rgba(152, 152, 152, 0.2);
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
  border-radius: 3px;
}

.contents__link {
  font-weight: 500;
  /* max-width: 224px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
}

h1 {
  font-size: 2rem !important;
  margin-bottom: 2rem !important;
  padding-top: var(--ifm-contents-padding-vertical);
}

h2 {
  padding-top: 2.4rem;
  font-weight: 700;
  border-top: 2px solid var(--ifm-contents-border-color);
}

.prism-code {
  font-size: inherit;
}

.prism-code + button {
  top: calc(var(--ifm-pre-padding) - 2px);
}

.footer.footer--dark {
  --ifm-footer-background-color: #021626;
}

.footer.footer--dark .container .footer__links {
  margin-bottom: 3.5rem;
}

.footer.footer--dark .container .text--center {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
}

.footer.footer--dark .container .text--center .footer__logo {
  color: rgb(255, 255, 255);
}

footer.footer {
  display: none;
  -webkit-font-smoothing: initial;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
}

.footer__title {
  font-weight: 600;
  margin-bottom: 1.3rem;
  margin-top: 1.3rem;
}

.footer__item {
  font-size: 0.875rem;
  line-height: 2.3;
}

.footer__item + div {
  margin-top: 0.5rem;
}

.footer__items > div:first-child {
  display: table;
}

.footer__col:first-child .footer__items > div:first-child {
  margin-top: -5px;
}

.footer-reward {
  width: 5rem;
  height: 5rem;
  border-radius: 1px;
  margin-top: 0.5rem;
}

.footer-logo {
  width: 2rem;
}

.footer-logo + span {
  display: table-cell;
  padding-left: 12px;
  vertical-align: middle;
  font-family: var(--my-logo-font-family);
}

.footer-desc {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0.5rem;
  line-height: 2;
}

.col.footer__col:first-child {
  flex-grow: 1.5;
  margin-right: 6rem;
  flex-shrink: 0;
}

/* dark theme */

html[data-theme="dark"] {
  --ifm-color-primary: rgb(10, 132, 255);
  --ifm-navbar-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  /* --ifm-navbar-background-color: #000; */
  /* --ifm-background-color: #1d1f21; */
}

html[data-theme="dark"] .navbar .navbar__logo + strong {
  color: rgb(255, 255, 255);
}

html[data-theme="dark"] .footer.footer--dark {
  --ifm-footer-background-color: var(--ifm-navbar-background-color);
}

html[data-theme="dark"] blockquote {
  color: var(--ifm-code-color);
}

html[data-theme="dark"] .markdown ul.tabs .tab-item {
  color: rgba(255, 255, 255, 0.5);
}

html[data-theme="dark"] .markdown ul.tabs .tab-item--active {
  color: rgb(255, 255, 255);
}

html[data-theme="dark"] .menu .menu__link:hover {
  --ifm-menu-color-background-active: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(167, 167, 167, 0.1);
}

html[data-theme="dark"] .menu .menu__link.menu__link--active:not(.menu__link--sublist) {
  --ifm-menu-color-background-active: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(167, 167, 167, 0.1);
}

html[data-theme="dark"] .menu .menu__link.menu__link--active:not(.menu__link--sublist):hover {
  --ifm-menu-color-background-active: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(167, 167, 167, 0.2);
}

/* Mobile */
@media (width <= 996px) {
  :root {
    --ifm-font-size-base: 14px;
  }
  html {
    font-size: 14px;
  }
}

/* MacBook Pro 13.3 */
@media (996px < width <= 1440px) {
  :root {
    --ifm-font-size-base: 14px;
  }
  html {
    font-size: 14px;
  }
  .navbar + main > div > div:not(.row):not(.hero):not(.main) {
    width: 290px;
  }
  .footer.footer--dark .container .text--center {
    font-size: 12px;
  }
}

@media (width > 996px) {
  .navbar + main > div > div:not(.row) > div:not(.container) {
    padding-top: 1.8rem;
    padding-bottom: 2rem;
    padding-left: 1.2rem;
  }
  .container .col:first-child > div {
    max-width: 45.6vw !important;
  }
  footer.footer {
    display: block;
  }
}
