html[data-theme="dark"] {
  --ifm-color-primary: rgb(10, 132, 255);
  --ifm-navbar-shadow: none;
  /* 0 1px 2px 0 rgba(116, 129, 141, 0.1); */
  --ifm-navbar-background-color: #222;
  /* --ifm-background-color: #1d1f21; */
  --ifm-toc-link-color: #fff;
}

/* html[data-theme="dark"] .footer.footer--dark {
  --ifm-footer-background-color: var(--ifm-background-color);
} */

html[data-theme="dark"] blockquote {
  color: var(--ifm-code-color);
}

html[data-theme="dark"] .markdown ul.tabs .tabs__item {
  color: rgba(255, 255, 255, 0.5);
}

html[data-theme="dark"] .markdown ul.tabs .tabs__item--active {
  color: rgb(255, 255, 255);
}

html[data-theme="dark"] .markdown .admonition.admonition-note {
  color: #1c1e21;
}
