html[data-theme="dark"] {
  --ifm-color-primary: rgb(10, 132, 255);
  --ifm-navbar-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  /* --ifm-navbar-background-color: #000; */
  /* --ifm-background-color: #1d1f21; */
}

html[data-theme="dark"] .footer.footer--dark {
  --ifm-footer-background-color: var(--ifm-navbar-background-color);
}

html[data-theme="dark"] blockquote {
  color: var(--ifm-code-color);
}

html[data-theme="dark"] .markdown ul.tabs .tab-item {
  color: rgba(255, 255, 255, 0.5);
}

html[data-theme="dark"] .markdown ul.tabs .tab-item--active {
  color: rgb(255, 255, 255);
}

html[data-theme="dark"] .markdown .admonition.admonition-note {
  color: #1c1e21;
}
