.dropdown .dropdown__menu {
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: var(--ifm-navbar-shadow);
  border: 1px solid var(--my-color-gray-5);
  border-top: 0px;
}

html[data-theme="dark"] .dropdown__menu {
  background-color: var(--my-color-gray-10);
  border-color: var(--my-color-gray-9);
}
