.markdown {
  font-size: 0.9375rem;
}

.markdown > h2 {
  --ifm-heading-vertical-rhythm-bottom: 1;
  --ifm-h2-vertical-rhythm-top: 1.8;
  --ifm-h2-font-size: 1.5rem;
}

.markdown > h3 {
  --ifm-h3-font-size: 1.25rem;
  margin-bottom: var(--ifm-leading);
}

.markdown pre {
  -webkit-font-smoothing: initial;
}

.markdown > pre, .markdown > ul, .markdown > ol, .markdown > p, blockquote p {
  line-height: 1.8;
}

.markdown ul.tabs {
  border-top-left-radius: var(--ifm-global-radius);
  border-top-right-radius: var(--ifm-global-radius);
  /* border: 1px solid var(--ifm-contents-border-color);
  border-bottom: none; */
  background-color: var(--my-board--background);
  line-height: 16px;
  font-size: 14px;
}

.markdown ul.tabs .tab-item {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  user-select: none;
}

.markdown ul.tabs .tab-item--active {
  color: rgba(0, 0, 0, 1);
}

.markdown ul.tabs + .margin-vert--md {
  margin-top: 0 !important;
}

.markdown ul.tabs + .margin-vert--md div pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.markdown img {
  margin-bottom: 5px;
}

.markdown .prism-code {
  /* border-radius: var(--ifm-pre-border-radius); */
  -webkit-font-smoothing: initial;
}

.markdown .prism-code:focus {
  outline: none;
}

.markdown .prism-code .token.keyword,
.markdown .prism-code .token.selector {
  font-style: normal !important;
}

.markdown div[style="color: rgb(214, 222, 235); background-color: rgb(1, 22, 39);"] {
  border-bottom-color: #444950;
}

.markdown ul.tabs + div div.prism-code {
  border-radius: 0 0 var(--ifm-global-radius) var(--ifm-global-radius);
}

.markdown .tab-item:hover {
  background-color: transparent;
  border-bottom-color: var(--ifm-color-primary-light);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.markdown .tab-item:focus {
  outline: none;
  background-color: transparent;
}

.markdown ul.tabs {
  background-color: rgba(185, 202, 218, 0.2);
}
