/* iPhone */
@media (width < 768px) {
  :root {
    --ifm-font-size-base: 14px;
  }
  html {
    font-size: 14px;
  }
  footer.footer {
    display: none;
  }
}

/* iPad */
@media (768px <= width < 996px) {
  :root {
    --ifm-font-size-base: 16px;
  }
  html {
    font-size: 16px;
  }
  footer.footer {
    display: none;
  }
}

/* iPad Pro, MacBook Pro 13.3 */
@media (996px <= width <= 1440px) {
  :root {
    --ifm-font-size-base: 16px;
  }
  html {
    font-size: 16px;
  }
  .navbar + .main-wrapper > div > div:not(.row):not(.hero):not(.main) {
    width: 290px;
  }
  .footer.footer--dark .container .text--center {
    font-size: 12px;
  }
}

@media (width > 996px) {
  .menu.menu--responsive {
    padding-top: 1.8rem;
    padding-bottom: 2rem;
    padding-left: 1.2rem;
  }
  .container .col:first-child > div {
    max-width: 48.5vw !important;
  }
  footer.footer {
    display: block;
  }
}
