.navbar {
  -webkit-font-smoothing: auto;
}

.navbar.navbar--fixed-top {
  top: -1px;
  border-bottom: 1px solid rgba(131, 133, 133, 0.23);
  padding-top: 0;
  padding-bottom: 0;
}

.navbar .navbar__logo {
  border-radius: 3px;
}

.navbar .navbar__logo + strong {
  font-family: var(--my-logo-font-family);
  color: #444;
  font-weight: 500;
}

.navbar .navbar__link {
  white-space: nowrap;
}

.navbar__items:first-child {
  flex-grow: 2;
}

.navbar__items--right {
  flex-grow: 1;
}

.navbar__brand.active {
  min-width: 185px;
}

/* Sidebar Nav */
.navbar + .main-wrapper > div > div:not(.row):not(.main):not(.hero--primary) {
  background-color: var(--my-board--background);
  width: 310px;
  top: 0;
}

.navbar__item > .navbar__link {
  line-height: var(--ifm-navbar-height);
  padding-top: 0;
  padding-bottom: 0;
}

/* .navbar__item > .navbar__link:after {
  position: absolute;
  z-index: 10000;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-right: 14px solid transparent;
  border-bottom: 10px solid #fff;
  border-bottom: 10px solid var(--my-color-gray-1);
  border-left: 14px solid transparent;
  -webkit-transform: translate(-50%,100%);
  transform: translate(-50%,100%);
  opacity: 0;
  content: "";
}

.navbar__item > .navbar__link:hover:after {
  opacity: 1;
  transition: opacity .1s, -webkit-transform .1s;
  transition: transform .1s,opacity .4s;
  transition: transform .1s,opacity .4s, -webkit-transform .1s;
  transform: translate(-50%);
} */


/* Left content */
.menu {
  -webkit-font-smoothing: auto;
}

.menu .menu__list-item {
  margin-top: 0.28rem;
  margin-bottom: 0.28rem;
}

.menu .menu__link {
  border: 1px solid transparent;
  line-height: 1.25rem;
}

.menu .menu__link:hover {
  --ifm-menu-color-background-active: rgb(230, 236, 241);
  border: 1px solid rgb(230, 236, 241);
}

.menu .menu__list .menu__list .menu__link {
  font-size: .9rem;
}

.menu .menu__link.menu__link--active:not(.menu__link--sublist) {
  border: 1px solid rgba(167, 167, 167, 0.2);
}

.menu .menu__link.menu__link--active:not(.menu__link--sublist):hover {
  --ifm-menu-color-background-active: rgb(255, 255, 255);
  border: 1px solid #e6ecf1;
}

.menu .menu__link.menu__link--sublist:after {
  background-image: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="rgba(157,170,182,1)"><g><polyline points="9 18 15 12 9 6"></polyline></g></svg>');
  background-size: 1.1rem 1.1rem;
  color: rgba(0, 0, 0, 0.2)
}

.menu .menu__list-item.menu__list-item .menu__link--sublist:after {
  transform: rotateZ(90deg);
}

.menu .menu__list-item.menu__list-item--collapsed .menu__link--sublist:after {
  transform: rotateZ(0);
}

html[data-theme="dark"] .navbar .navbar__logo + strong {
  color: rgb(255, 255, 255);
}

html[data-theme="dark"] .menu .menu__link:hover {
  --ifm-menu-color-background-active: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(167, 167, 167, 0.1);
}

html[data-theme="dark"] .menu .menu__link.menu__link--active:not(.menu__link--sublist) {
  --ifm-menu-color-background-active: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(167, 167, 167, 0.1);
}

html[data-theme="dark"] .menu .menu__link.menu__link--active:not(.menu__link--sublist):hover {
  --ifm-menu-color-background-active: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(167, 167, 167, 0.2);
}

/* Sidebar Nav */
html[data-theme="dark"] .navbar + .main-wrapper > div > div:not(.row):not(.main):not(.hero--primary) {
  background-color: var(--my-color-gray-11);
}
