.navbar {
  font-size: 0.9375rem;
}

.navbar.navbar--fixed-top {
  top: -1px;
  border-bottom: 1px solid rgba(131, 133, 133, 0.23);
  padding-top: 0;
  padding-bottom: 0;
}

.navbar .navbar__logo {
  border-radius: 3px;
}

.navbar .navbar__logo + strong {
  font-family: var(--my-logo-font-family);
  color: #444;
  font-weight: 500;
}

.navbar .navbar__link {
  white-space: nowrap;
}

.navbar__items:first-child {
  flex-grow: 2;
}

.navbar__items--right {
  flex-grow: 1;
}

.navbar__brand.active {
  min-width: 185px;
}

/* Sidebar Nav */
.navbar + .main-wrapper > div > div:not(.row):not(.main):not(.hero--primary) {
  background-color: var(--my-board--background);
  width: 310px;
  top: 0;
}

.navbar__item > .navbar__link {
  line-height: var(--ifm-navbar-height);
  padding-top: 0;
  padding-bottom: 0;
}

/* .navbar__item > .navbar__link:after {
  position: absolute;
  z-index: 10000;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-right: 14px solid transparent;
  border-bottom: 10px solid #fff;
  border-bottom: 10px solid var(--my-color-gray-1);
  border-left: 14px solid transparent;
  -webkit-transform: translate(-50%,100%);
  transform: translate(-50%,100%);
  opacity: 0;
  content: "";
}

.navbar__item > .navbar__link:hover:after {
  opacity: 1;
  transition: opacity .1s, -webkit-transform .1s;
  transition: transform .1s,opacity .4s;
  transition: transform .1s,opacity .4s, -webkit-transform .1s;
  transform: translate(-50%);
} */

/* Sidebar Nav */
html[data-theme="dark"] .navbar + .main-wrapper > div > div:not(.row):not(.main):not(.hero--primary) {
  background-color: var(--my-color-gray-11);
}
