:root {
  --ifm-color-primary-lightest: #d6f2ff;
  --ifm-color-primary-lighter: #69c0ff;
  --ifm-color-primary-light: #1890ff;
  --ifm-color-primary: rgb(0, 122, 255);
  --ifm-color-primary-dark: #0085cc;
  --ifm-color-primary-darker: #0065a3;
  --ifm-color-primary-darkest: #00508a;

  --ifm-color-emphasis-alpha-60: #5C6975;
  --ifm-contents-border-color: rgba(191, 191, 191, 0.2);
  --ifm-contents-link-color: rgb(116, 129, 141);
  --ifm-code-background: rgba(191, 191, 191, 0.25);
  --ifm-hero-background-color: #24292e;
  --ifm-table-border-color: rgba(191, 191, 191, 0.3);
  --ifm-table-stripe-background: rgba(185, 202, 218, 0.15);
  --ifm-table-cell-padding: 0.7rem;
  --ifm-menu-color-background-active: rgb(255, 255, 255);
  --ifm-navbar-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
  --ifm-navbar-height: 4.375rem;
  --ifm-navbar-padding-horizontal: 2rem;
  --ifm-spacing-horizontal: 1.5rem;
  /* --ifm-heading-font-weight: 500; */
  --ifm-list-item-margin: 0.18rem;
  --ifm-leading: 1rem;
  --ifm-container-width: 1200px;

  /* --ifm-font-family-base: Helvetica, Arial, sans-serif; */
  /* --ifm-font-color-base: rgb(74, 74, 74); */
  --ifm-font-size-base: 15px;
  --ifm-code-font-size: 85%;

  --my-board--background: rgba(185, 202, 218, 0.15);
  --my-logo-font-family: 'Eurofighter Expanded';
  --my-color-gray-1: #ffffff;
  --my-color-gray-2: #fafafa;
  --my-color-gray-3: #f5f5f5;
  --my-color-gray-4: #f0f0f0;
  --my-color-gray-5: #d9d9d9;
  --my-color-gray-6: #bfbfbf;
  --my-color-gray-7: #8c8c8c;
  --my-color-gray-8: #595959;
  --my-color-gray-9: #434343;
  --my-color-gray-10: #262626;
  --my-color-gray-11: #1f1f1f;
  --my-color-gray-12: #141414;
  --my-color-gray-13: #000000;

  -webkit-font-smoothing: antialiased;
}
