@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');

.container {
  position: relative;
  background-image: url(https://cosmos-x.oss-cn-hangzhou.aliyuncs.com/homepage-cosmos-bg.svg),
    linear-gradient(180deg, #1f232e 0, rgba(20, 20, 20) 100%);
  background-repeat: repeat-x;
  background-position: center;
  background-color: #E8EFF5 !important;
  width: 100% !important;
  margin-right: auto !important;
  padding-top: 8.5rem;
  padding-bottom: 8.5rem;
  color: #1E266D;
  font-family: 'Lato';
}

.textPart {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10rem;
  width: 40rem;
}

.slogan {
  font-size: 3rem;
  line-height: 140%;
  opacity: 0.85;
}

.sloganCN {
  font-family: 'Source Han Serif TW';
  font-weight: 300;
  opacity: 0.8;
  font-size: 18px;
}

.version {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 2.7rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  border-radius: 2rem;
  border: 2px solid var(--ifm-color-primary);
  margin-right: 1.5rem;
}

.version:hover {
  background-color: var(--ifm-color-primary-light);
  color: #fff;
  text-decoration: none;
}

.buttons {
  display: inline-flex;
  margin-top: 2.5rem;
  margin-bottom: 10px;
}

.buttons button {
  padding-left: 2rem;
  padding-right: 2rem;
  height: 2.7rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
}

.buttons button:hover {
  background-color: var(--ifm-color-primary-light);
}

.imgPart {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  overflow: hidden;
}

.ellipseLarge {
  position: absolute;
  top: 6rem;
  zoom: .8;
  right: -16rem;
}

.ellipseSmall {
  position: absolute;
  top: 8rem;
  right: 15rem;
  zoom: .8;
}

.triangle {
  position: absolute;
  top: 8rem;
  right: 34rem;
  zoom: .8;
}

.rectangle {
  position: absolute;
  bottom: 5rem;
  right: 20rem;
  zoom: .8;
}

.pattern {
  position: absolute;
  bottom: 12rem;
  right: 35rem;
  zoom: .8;
}

@media (max-width: 996px) {
  .container {
    padding-top: 6rem;
    padding-bottom: 8rem;
  }
  .slogan {
    font-size: 36px;
    line-height: 48px;
    max-width: 75vw;
  }
}
