@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

.container {
  position: relative;
  background-image: linear-gradient(
    180deg,
    var(--ifm-navbar-background-color) 0,
    #1f232e 100%
  );
  background-repeat: repeat-x;
  background-position: center;
  background-color: #1f232e !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  margin-right: auto !important;
  padding-top: 10rem;
  padding-bottom: 12rem;
  color: #fff;
  font-family: 'Fira Sans';
}

/* .topBg {
  position: absolute;
  top: -60px;
  width: 100%;
  height: 254px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.741791) -15.09%,
    rgba(16, 16, 16, 0.0001) 73.61%
  );
  z-index: 999;
} */

.slogan {
  text-align: center;
  font-weight: 300;
  font-size: 52px;
  line-height: 74px;
  max-width: 55vw;
  opacity: 0.85;
}

.sloganCN {
  font-family: 'Source Han Serif TW';
  font-weight: 300;
  opacity: 0.8;
  font-size: 18px;
}

.version {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Fira Sans';
  padding-top: 30px;
  padding-bottom: 0;
}

.getStartedBtn button {
  margin-top: 2.5rem;
  padding: 0.6rem 2.2rem;
  /* font-weight: 400; */
  /* text-transform: uppercase; */
  font-family: 'Fira Sans';
  font-size: 1.1rem;
}
